* {
  font-family: "Comic Neue", cursive;
}

.h-main {
  min-height: calc(100vh - 112px);
}

footer {
  height: 56px;
  font-size: 24px;
}

#main-bg {
  background-color: #6c757d;
  transition: 0.5s;
}

#accordion {
  cursor: pointer;
  margin-top: 20vh;
  margin-right: 10vw;
}

.accordion-tab {
  background-color: black;
  transition: 0.5s;
}

.navbar-footer-bg {
  background-color: black;
  transition: 0.5s;
}

.up,
.down {
  background-color: #6c757d;
  transition: 0.5s;
  color: aliceblue;
}

p {
  display: none;
  font-size: 1.5em;
}

@media screen and (max-width: 991px) {
  #accordion {
    margin-top: 5vh;
    margin-right: 1vw;
  }
}
