{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="h-main container-fluid" id="main-bg">
    <div class="row">
        <div class="col-lg-6 col-sm-12 h-main d-flex justify-content-center align-items-center flex-column">
                <img class="w-50 bg-dark p-2 rounded-lg" src="{% static 'images/FR41.jpg' %}">
        </div>
        <div class="col-lg-6 col-sm-12 h-main p-2">
            <div id="accordion">
                <div class="panel">
                    <h3 position="0" class="p-2 m-0 accordion-tab text-light">
                        About me
                        <button class="mx-1 float-right down" class="down">
                            下
                        </button>
                        <button class="mx-1 float-right up" class="up">
                            上
                        </button>
                    </h3>
                    <p position="0" class="p-1 m-0 bg-success text-light">
                        I'm a Computer Science student in Universitas Indonesia batch 2019
                    </p>
                </div>
                <div class="panel">
                    <h3 position="1" class="p-2 m-0 accordion-tab text-light">
                        Why am I here?
                        <button class="mx-1 float-right down" class="down">
                            下
                        </button>
                        <button class="mx-1 float-right up" class="up">
                            上
                        </button>
                    </h3>
                    <p position="1" class="p-1 m-0 bg-success text-light">
                        I don't know
                    </p>
                </div>
                <div class="panel">
                    <h3 position="2" class="p-2 m-0 accordion-tab text-light">
                        Achievements
                        <button class="mx-1 float-right down" class="down">
                            下
                        </button>
                        <button class="mx-1 float-right up" class="up">
                            上
                        </button>
                    </h3>
                    <p position="2" class="p-1 m-0 bg-success text-light">
                        Skip
                    </p>
                </div>
                <div class="panel">
                    <h3 position="3" class="p-2 m-0 accordion-tab text-light">
                        Current objective?
                        <button class="mx-1 float-right down" class="down">
                            下
                        </button>
                        <button class="mx-1 float-right up" class="up">
                            上
                        </button>
                    </h3>
                    <p position="3" class="p-1 m-0 bg-success text-light">
                        Survive
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
